* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    /* Сглаживание шрифта */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    color: #000000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1210px;
    padding: 0px 15px;
    margin: 0 auto;
}

/* header */
.header {}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 21px;
    color: #000000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img-wrap {
    height: 60px;
    width: 60px;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    margin-right: 16px;
    align-items: center;
    border: 2px solid black;
    flex-shrink: 0;
}

.logo__img {
    width: 70%;
    height: 80%;
    object-fit: contain;
    color: #000000;
    flex-shrink: 0;
}

.logo__desc {
    line-height: 131.19%
}

.logo__title {
    font-weight: 700;
    font-size: 18px;
}

.logo__sublitle {
    font-weight: 300;
    font-size: 14px;
}

.nav__list {
    display: flex;
    font-size: 18px;
    line-height: 21px;
}

.nav__iteam {
    margin-right: 54px;
    border-bottom: 1px solid transparent;
    transition: all 0.4s;
}

.nav__iteam:hover {
    border-color: #000000;
}

.nav__iteam :last-child {
    margin-right: 0px;
}

.nav__iteam :hover {
    text-shadow: 0px 0px 1px #000000;
}

.tel {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.cart {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.14);
    border-radius: 50px;
    overflow: hidden;
    padding-right: 15px;
}

.cart__img-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: #FFBF42;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.4s;
}

.cart__img-wrap:hover {
    background: #a87309;
}

.cart__img-wrap:active {
    transform: translate(0px, 2px);
}

.cart__img {
    width: 58%;
    height: 58%;
    object-fit: contain;
}

.cart__price {
    font-weight: 700;
    margin-left: 14px;
    margin-right: 18px;
}

.cart__value {
    font-size: 14px;
}

.cart__btn {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    width: 10px;
    height: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}



.cart__btn-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* HERO */

.hero {
    height: 573px;
    display: flex;
}

.hero__desc,
.hero__slider {
    height: 100%;
    position: relative;
}

.hero__desc {
    flex: 0 0 100%;
}

.hero__desc::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0px 500px 500px 0px;
    top: 0;
    right: 50%;
    z-index: -10;
}

.hero__content {}

.title {
    display: inline-block;
    position: absolute;
    top: 150px;
    bottom: 339px;
    left: 215px;
    right: 143px;
    font-weight: 700;
    font-size: 36px;
}

.subtitle__herosubtitle {
    display: inline-block;
    position: absolute;
    top: 274px;
    bottom: 266px;
    left: 215px;
    right: 166px;
    font-weight: 300;
    font-size: 18px;
}

.hero__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 48px;
    top: 338px;
    bottom: 187px;
    left: 215px;
    right: 314px;
    background: #FFBF42;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.14);
    border-radius: 50px;
    transition: all 0.4s;
    font-weight: 700;
    font-size: 14px;
}

.hero__btn:hover {
    background: #eca71e;
}

.hero__slider {
    flex: 0 0 50%;
    transform: translate(-100%, 0%);
    overflow: hidden;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 500px 0px 0px 500px;

}

.dots {
    display: flex;
    position: absolute;
    margin-left: 46%;
    bottom: 38px;
}

.dot {
    margin-right: 14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
    background: #FFFFFF;
}

.dot:hover {
    background: #FFBF42
}

.dot:last-child {
    margin-right: 0px;
}

.active {}

.hero__slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}